.form-password
  label(for='password') Mot de passe
  .input-with-button
    input#password.password-input(type='password', name='password', placeholder='6 caractères minimum')
    button.password-display-icon 
      img.password-icon(src='../assets/icons/eye.svg', alt='show password icon')

  p.password-validation &nbsp
