@import './genre/genre.css';
@import './names/names.css';
@import './birthdate/birthdate.css';
@import './email/email.css';
@import './password/password.css';

form {
  max-width: 768px;
  margin: var(--space-5) auto;
  padding: var(--space-4) var(--space-4);
  background-color: var(--light-grey);
  border: 6px solid var(--black);
  border-radius: 5px;
}

fieldset {
  padding: 0;
  border: 0;
}

label,
legend {
  margin-bottom: var(--space-00);
  color: var(--black);
  font-size: var(--scale-0);
  font-family: var(--font-bold);
}

input {
  height: 48px;
  padding-left: var(--space-00);
  font-size: var(--scale-0);
  border: 3px solid var(--black);
  border-radius: 5px;
  outline: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus,
input[type="radio"]:focus {
  border: 3px solid var(--blue);
}

input[type=radio] {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 3px solid var(--black);
  border-radius: 50%;
  outline: none;
  -webkit-appearance: none;
}

input[type="radio"]:hover {
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: var(--black);
}

.submit {
  margin: var(--space-0) auto 0;
  padding: var(--space-000) var(--space-4);
  color: var(--black);
  font-size: var(--scale-1);
  font-family: var(--font-bold);
  background-color: white;
  border: none;
  border: 3px solid var(--black);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.submit:hover {
  border-color: var(--green);
}

@media screen and (max-width: 768px) {
  form {
    border: 0;
  }

  .name-section {
    flex-direction: column;
  }

  .form-firstname,
  .form-lastname {
    width: 100%;
  }
}
