fieldset.genre
  legend Civilité (Optionnel)
  .form-inputs
    div
      input#mister.mister-input(type='radio', name='genre', value='mister')
      label(for='mister') Mr

    div
      input#mrs.mrs-input(type='radio', name='genre', value='mrs')
      label(for='mrs') Mme

    div
      input#miss.miss-input(type='radio', name='genre', value='miss')
      label(for='miss') Mlle

  p.genre-validation &nbsp
