doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='./index.css', rel='stylesheet', type='text/css')
  script(type='module', src='./index.js')
  title Parcel | Boilerplate

include header/header.pug

main
  include form/index.pug

  li 
    ul 
      a(href='https://medium.com/nextux/form-design-best-practices-9525c321d759') Form design best practices

    ul
      a(href='https://uxdesign.cc/best-practices-for-form-design-ff5de6ca8e5f') Best practices for form design

    ul
      a(href='https://esri.github.io/calcite-web/guides/best-practices/forms/') Forms Best Practices
