fieldset.birthdate
  legend Date de naissance
  .form-birthdate
    label(for='birthday') Jour de naissance
    input#birthday.birthday-input(type='number', name='birthday', placeholder='jour')
    label(for='birthmonth') Mois de naissance
    input#birthmonth.birthmonth-input(type='number', name='birthmonth', placeholder='mois')
    label(for='birthyear') Année de naissance
    input#birthyear.birthyear-input(type='number', name='birthyear', placeholder='année')
  p.birthdate-validation &nbsp
