fieldset.name-section
  .form-firstname
    label(for='firstname') Prénom
    input#firstname.firstname-input(type='text', name='firstname')
    p.firstname-validation &nbsp
  .form-lastname
    label(for='lastname') Nom
    input#lastname.lastname-input(type='text', name='lastname')
    p.lastname-validation &nbsp
